%h1= "Aerial Sample Count"
%p
  = link_to t('back'), survey_aerial_sample_count_strata_path
  = link_to t('edit'), edit_survey_aerial_sample_count_stratum_path(@survey_aerial_sample_count_stratum)
  = link_to t('.new'), new_survey_aerial_sample_count_stratum_path

%dl
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :survey_aerial_sample_count_id
  %dd= @survey_aerial_sample_count_stratum.survey_aerial_sample_count_id
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :stratum_name
  %dd= @survey_aerial_sample_count_stratum.stratum_name
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :stratum_area
  %dd= @survey_aerial_sample_count_stratum.stratum_area
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_estimate
  %dd= @survey_aerial_sample_count_stratum.population_estimate
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_variance
  %dd= @survey_aerial_sample_count_stratum.population_variance
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_standard_error
  %dd= @survey_aerial_sample_count_stratum.population_standard_error
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_t
  %dd= @survey_aerial_sample_count_stratum.population_t
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_degrees_of_freedom
  %dd= @survey_aerial_sample_count_stratum.population_degrees_of_freedom
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_confidence_limits
  %dd= @survey_aerial_sample_count_stratum.population_confidence_limits
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :population_no_precision_estimate_available
  %dd= @survey_aerial_sample_count_stratum.population_no_precision_estimate_available
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :sampling_intensity
  %dd= @survey_aerial_sample_count_stratum.sampling_intensity
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :transects_covered
  %dd= @survey_aerial_sample_count_stratum.transects_covered
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :transects_covered_total_length
  %dd= @survey_aerial_sample_count_stratum.transects_covered_total_length
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :seen_in_transects
  %dd= @survey_aerial_sample_count_stratum.seen_in_transects
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :seen_outside_transects
  %dd= @survey_aerial_sample_count_stratum.seen_outside_transects
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :carcasses_fresh
  %dd= @survey_aerial_sample_count_stratum.carcasses_fresh
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :carcasses_old
  %dd= @survey_aerial_sample_count_stratum.carcasses_old
  %dt= SurveyAerialSampleCountStratum.human_attribute_name :carcasses_very_old
  %dd= @survey_aerial_sample_count_stratum.carcasses_very_old
