%h1= t '.title'
.restated_survey_info
  = render :partial => "submission_info", :locals => { :s => @submission }
%h4
  - if @level.stratum_name == ''
    .count_stratum_name Stratum ##{@level.id}
  - else
    .count_stratum_name= @level.stratum_name
.show_stratum
  != best_label_for 'stratum_area'
  = @level.stratum_area
.show_stratum
  != best_label_for 'population_estimate'
  = @level.population_estimate
.show_stratum
  != best_label_for 'average_speed'
  = @level.average_speed
.show_stratum
  != best_label_for 'average_transect_spacing'
  = @level.average_transect_spacing
.show_stratum
  != best_label_for 'average_searching_rate'
  = @level.average_searching_rate
.show_stratum
  != best_label_for 'transects_covered'
  = @level.transects_covered
.show_stratum
  != best_label_for 'transects_covered_total_length'
  = @level.transects_covered_total_length
.show_stratum
  != best_label_for 'observations'
  = @level.observations
.show_stratum
  != best_label_for 'carcasses_fresh'
  = @level.carcasses_fresh
.show_stratum
  != best_label_for 'carcasses_old'
  = @level.carcasses_old
.show_stratum
  != best_label_for 'carcasses_very_old'
  = @level.carcasses_very_old
!= map_stratum @level

