%h1= "Aerial Total Counts"
%p
  = link_to t('back'), survey_aerial_total_count_strata_path
  = link_to t('edit'), edit_survey_aerial_total_count_stratum_path(@survey_aerial_total_count_stratum)
  = link_to t('.new'), new_survey_aerial_total_count_stratum_path

%dl
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :survey_aerial_total_count_id
  %dd= @survey_aerial_total_count_stratum.survey_aerial_total_count_id
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :stratum_name
  %dd= @survey_aerial_total_count_stratum.stratum_name
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :stratum_area
  %dd= @survey_aerial_total_count_stratum.stratum_area
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_estimate
  %dd= @survey_aerial_total_count_stratum.population_estimate
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_variance
  %dd= @survey_aerial_total_count_stratum.population_variance
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_standard_error
  %dd= @survey_aerial_total_count_stratum.population_standard_error
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_t
  %dd= @survey_aerial_total_count_stratum.population_t
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_degrees_of_freedom
  %dd= @survey_aerial_total_count_stratum.population_degrees_of_freedom
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_confidence_limits
  %dd= @survey_aerial_total_count_stratum.population_confidence_limits
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :population_no_precision_estimate_available
  %dd= @survey_aerial_total_count_stratum.population_no_precision_estimate_available
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :average_speed
  %dd= @survey_aerial_total_count_stratum.average_speed
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :average_transect_spacing
  %dd= @survey_aerial_total_count_stratum.average_transect_spacing
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :average_searching_rate
  %dd= @survey_aerial_total_count_stratum.average_searching_rate
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :transects_covered
  %dd= @survey_aerial_total_count_stratum.transects_covered
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :transects_covered_total_length
  %dd= @survey_aerial_total_count_stratum.transects_covered_total_length
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :observations
  %dd= @survey_aerial_total_count_stratum.observations
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :carcasses_fresh
  %dd= @survey_aerial_total_count_stratum.carcasses_fresh
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :carcasses_old
  %dd= @survey_aerial_total_count_stratum.carcasses_old
  %dt= SurveyAerialTotalCountStratum.human_attribute_name :carcasses_very_old
  %dd= @survey_aerial_total_count_stratum.carcasses_very_old
