.restated_survey_info
  = render :partial => "submission_info", :locals => { :s => @submission }
= semantic_form_for @population_submission_attachment, :html => { :enctype=>'multipart/form-data'} do |f|
  = f.inputs do
    = f.input :population_submission_id, :as => :hidden, :value => @population_submission.id
    = f.input :file
  = f.buttons do
    = f.commit_button
