%h1 t('.title')
%p= link_to t('.new'), new_survey_dung_count_line_transect_stratum_path

%table
  %thead
    %tr
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :survey_dung_count_line_transect_id
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :stratum_name
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :stratum_area
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_estimate
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_variance
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_standard_error
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_t
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_degrees_of_freedom
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_confidence_limits
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :population_no_precision_estimate_available
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :asymmetric_upper_confidence_limit
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :asymmetric_lower_confidence_limit
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :transects_covered
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :transects_covered_total_length
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :strip_width
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :observations
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :observations_distance_method
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :actually_seen
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_piles
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_method
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_estimate_used
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_site
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_year
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_reference
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_variance
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_standard_error
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_t
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_degrees_of_freedom
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_confidence_limits
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_no_precision_estimate_available
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_measured_on_site
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_estimate_used
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_measurement_site
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_reference
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_variance
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_standard_error
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_t
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_degrees_of_freedom
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_confidence_limits
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_no_precision_estimate_available
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_estimate
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_variance
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_standard_error
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_t
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_degrees_of_freedom
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_confidence_limits
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_no_precision_estimate_available
      %th= SurveyDungCountLineTransectStratum.human_attribute_name :dung_encounter_rate
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for survey_dung_count_line_transect_stratum in @survey_dung_count_line_transect_strata
      %tr{ :class => cycle(:odd, :even) }
        %td= survey_dung_count_line_transect_stratum.survey_dung_count_line_transect_id
        %td= survey_dung_count_line_transect_stratum.stratum_name
        %td= survey_dung_count_line_transect_stratum.stratum_area
        %td= survey_dung_count_line_transect_stratum.population_estimate
        %td= survey_dung_count_line_transect_stratum.population_variance
        %td= survey_dung_count_line_transect_stratum.population_standard_error
        %td= survey_dung_count_line_transect_stratum.population_t
        %td= survey_dung_count_line_transect_stratum.population_degrees_of_freedom
        %td= survey_dung_count_line_transect_stratum.population_confidence_limits
        %td= survey_dung_count_line_transect_stratum.population_no_precision_estimate_available
        %td= survey_dung_count_line_transect_stratum.asymmetric_upper_confidence_limit
        %td= survey_dung_count_line_transect_stratum.asymmetric_lower_confidence_limit
        %td= survey_dung_count_line_transect_stratum.transects_covered
        %td= survey_dung_count_line_transect_stratum.transects_covered_total_length
        %td= survey_dung_count_line_transect_stratum.strip_width
        %td= survey_dung_count_line_transect_stratum.observations
        %td= survey_dung_count_line_transect_stratum.observations_distance_method
        %td= survey_dung_count_line_transect_stratum.actually_seen
        %td= survey_dung_count_line_transect_stratum.dung_piles
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_method
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_estimate_used
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_site
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_year
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_reference
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_variance
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_standard_error
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_t
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_degrees_of_freedom
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_confidence_limits
        %td= survey_dung_count_line_transect_stratum.dung_decay_rate_no_precision_estimate_available
        %td= survey_dung_count_line_transect_stratum.defecation_rate_measured_on_site
        %td= survey_dung_count_line_transect_stratum.defecation_rate_estimate_used
        %td= survey_dung_count_line_transect_stratum.defecation_rate_measurement_site
        %td= survey_dung_count_line_transect_stratum.defecation_rate_reference
        %td= survey_dung_count_line_transect_stratum.defecation_rate_variance
        %td= survey_dung_count_line_transect_stratum.defecation_rate_standard_error
        %td= survey_dung_count_line_transect_stratum.defecation_rate_t
        %td= survey_dung_count_line_transect_stratum.defecation_rate_degrees_of_freedom
        %td= survey_dung_count_line_transect_stratum.defecation_rate_confidence_limits
        %td= survey_dung_count_line_transect_stratum.defecation_rate_no_precision_estimate_available
        %td= survey_dung_count_line_transect_stratum.dung_density_estimate
        %td= survey_dung_count_line_transect_stratum.dung_density_variance
        %td= survey_dung_count_line_transect_stratum.dung_density_standard_error
        %td= survey_dung_count_line_transect_stratum.dung_density_t
        %td= survey_dung_count_line_transect_stratum.dung_density_degrees_of_freedom
        %td= survey_dung_count_line_transect_stratum.dung_density_confidence_limits
        %td= survey_dung_count_line_transect_stratum.dung_density_no_precision_estimate_available
        %td= survey_dung_count_line_transect_stratum.dung_encounter_rate
        %td.action= link_to t('show'), survey_dung_count_line_transect_stratum
        %td.action= link_to t('edit'), edit_survey_dung_count_line_transect_stratum_path(survey_dung_count_line_transect_stratum)
        %td.action= link_to t('destroy'), survey_dung_count_line_transect_stratum, :confirm => t('are_you_sure'), :method => :delete
