%h1 t '.title'
%p
  = link_to t('back'), survey_dung_count_line_transect_strata_path
  = link_to t('edit'), edit_survey_dung_count_line_transect_stratum_path(@survey_dung_count_line_transect_stratum)
  = link_to t('.new'), new_survey_dung_count_line_transect_stratum_path

%dl
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :survey_dung_count_line_transect_id
  %dd= @survey_dung_count_line_transect_stratum.survey_dung_count_line_transect_id
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :stratum_name
  %dd= @survey_dung_count_line_transect_stratum.stratum_name
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :stratum_area
  %dd= @survey_dung_count_line_transect_stratum.stratum_area
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_estimate
  %dd= @survey_dung_count_line_transect_stratum.population_estimate
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_variance
  %dd= @survey_dung_count_line_transect_stratum.population_variance
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_standard_error
  %dd= @survey_dung_count_line_transect_stratum.population_standard_error
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_t
  %dd= @survey_dung_count_line_transect_stratum.population_t
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_degrees_of_freedom
  %dd= @survey_dung_count_line_transect_stratum.population_degrees_of_freedom
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_confidence_limits
  %dd= @survey_dung_count_line_transect_stratum.population_confidence_limits
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :population_no_precision_estimate_available
  %dd= @survey_dung_count_line_transect_stratum.population_no_precision_estimate_available
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :asymmetric_upper_confidence_limit
  %dd= @survey_dung_count_line_transect_stratum.asymmetric_upper_confidence_limit
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :asymmetric_lower_confidence_limit
  %dd= @survey_dung_count_line_transect_stratum.asymmetric_lower_confidence_limit
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :transects_covered
  %dd= @survey_dung_count_line_transect_stratum.transects_covered
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :transects_covered_total_length
  %dd= @survey_dung_count_line_transect_stratum.transects_covered_total_length
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :strip_width
  %dd= @survey_dung_count_line_transect_stratum.strip_width
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :observations
  %dd= @survey_dung_count_line_transect_stratum.observations
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :observations_distance_method
  %dd= @survey_dung_count_line_transect_stratum.observations_distance_method
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :actually_seen
  %dd= @survey_dung_count_line_transect_stratum.actually_seen
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_piles
  %dd= @survey_dung_count_line_transect_stratum.dung_piles
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_method
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_method
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_estimate_used
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_estimate_used
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_site
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_site
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_measurement_year
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_measurement_year
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_reference
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_reference
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_variance
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_variance
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_standard_error
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_standard_error
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_t
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_t
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_degrees_of_freedom
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_degrees_of_freedom
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_confidence_limits
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_confidence_limits
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_decay_rate_no_precision_estimate_available
  %dd= @survey_dung_count_line_transect_stratum.dung_decay_rate_no_precision_estimate_available
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_measured_on_site
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_measured_on_site
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_estimate_used
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_estimate_used
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_measurement_site
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_measurement_site
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_reference
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_reference
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_variance
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_variance
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_standard_error
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_standard_error
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_t
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_t
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_degrees_of_freedom
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_degrees_of_freedom
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_confidence_limits
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_confidence_limits
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :defecation_rate_no_precision_estimate_available
  %dd= @survey_dung_count_line_transect_stratum.defecation_rate_no_precision_estimate_available
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_estimate
  %dd= @survey_dung_count_line_transect_stratum.dung_density_estimate
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_variance
  %dd= @survey_dung_count_line_transect_stratum.dung_density_variance
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_standard_error
  %dd= @survey_dung_count_line_transect_stratum.dung_density_standard_error
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_t
  %dd= @survey_dung_count_line_transect_stratum.dung_density_t
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_degrees_of_freedom
  %dd= @survey_dung_count_line_transect_stratum.dung_density_degrees_of_freedom
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_confidence_limits
  %dd= @survey_dung_count_line_transect_stratum.dung_density_confidence_limits
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_density_no_precision_estimate_available
  %dd= @survey_dung_count_line_transect_stratum.dung_density_no_precision_estimate_available
  %dt= SurveyDungCountLineTransectStratum.human_attribute_name :dung_encounter_rate
  %dd= @survey_dung_count_line_transect_stratum.dung_encounter_rate
