- if current_user.admin?
  %h1 Administrative resources
  %h3
    = link_to 'Recent Submissions', '/submissions'
  %h3
    = link_to 'Data Request Forms', '/data_request_forms'
  %h3
    = link_to 'Users', '/users'
  %h3
    = link_to 'All Narratives and Footnotes', '/report_narratives'
  %h3
    = link_to 'Replacement manager', '/changes'
  %h3
    = link_to '2013 Africa reports', '/preview_report/2013_africa/Loxodonta_africana/2012/Africa'
  %h3
    = link_to 'Recalculate change interpreters (takes up to 1 minute after clicking)', '/recalc'
- else
  This account is not authorized to access this page.
