%h1= t '.title'
.restated_survey_info
  = render :partial => "submission_info", :locals => { :s => @submission }
%h4
  - if @level.stratum_name == ''
    .count_stratum_name Stratum ##{b.id}
  - else
    .count_stratum_name= @level.stratum_name
.show_stratum
  = t 'label.stratum_area'":"
  = @level.stratum_area
.show_stratum
  = t 'label.population_estimate'":"
  = @level.population_estimate
.show_stratum
  = t 'label.population_variance'":"
  = @level.population_variance
.show_stratum
  = t 'label.population_standard_error'":"
  = @level.population_standard_error
.show_stratum
  = t 'label.population_t'":"
  = @level.population_t
.show_stratum
  = t 'label.population_degrees_of_freedom'":"
  = @level.population_degrees_of_freedom
.show_stratum
  = t 'label.population_confidence_limits'":"
  = @level.population_confidence_limits
.show_stratum
  = t 'label.population_no_precision_estimate_available'":"
  = @level.population_no_precision_estimate_available
.show_stratum
  = t 'label.method_of_analysis'":"
  = @level.method_of_analysis
.show_stratum
  = t 'label.area_calculation_method'":"
  = @level.area_calculation_method
.show_stratum
  = t 'label.genotypes_identified'":"
  = @level.genotypes_identified
.show_stratum
  = t 'label.samples_analyzed'":"
  = @level.samples_analyzed
.show_stratum
  = t 'label.sampling_locations'":"
  = @level.sampling_locations
