%h4= t('.children')
- if @population_submission.survey_type == "AT"
  - for c in @population_submission.survey_aerial_total_counts do
    %div= link_to "Aerial Sample Count ##{c.id}", c
  %p= link_to t('new_survey_aerial_total_count'), new_population_submission_survey_aerial_total_count_path(@population_submission)
- if @population_submission.survey_type == "AS"
  - for c in @population_submission.survey_aerial_sample_counts do
    %div= link_to "Aerial Sample Count ##{c.id}", c
  %p= link_to t('new_survey_aerial_sample_count'), new_population_submission_survey_aerial_sample_count_path(@population_submission)
- if @population_submission.survey_type == "GT"
  - for c in @population_submission.survey_ground_total_counts do
    %div= link_to "Ground Total Count ##{c.id}", c
  %p= link_to t('new_survey_ground_total_count'), new_population_submission_survey_ground_total_count_path(@population_submission)
- if @population_submission.survey_type == "GS"
  - for c in @population_submission.survey_ground_sample_counts do
    %div= link_to "Ground Sample Count ##{c.id}", c
  %p= link_to t('new_survey_ground_sample_count'), new_population_submission_survey_ground_sample_count_path(@population_submission)
- if @population_submission.survey_type == "DC"
  - for c in @population_submission.survey_dung_count_line_transects do
    %div= link_to "Dung Count ##{c.id}", c
  %p= link_to t('new_dung_count_line_transect'), new_population_submission_survey_dung_count_line_transect_path(@population_submission)
- if @population_submission.survey_type == "GD"
  - for c in @population_submission.survey_faecal_dnas do
    %div= link_to "Faecal DNA Survey ##{c.id}", c
  %p= link_to t('new_faecal_dna'), new_population_submission_survey_faecal_dna_path(@population_submission)
- if @population_submission.survey_type == "IR"
  - for c in @population_submission.survey_individual_registrations do
    %div= link_to "Individual Registration ##{c.id}", c
  %p= link_to t('new_survey_individual_registration'), new_population_submission_survey_individual_registration_path(@population_submission)
