= semantic_form_for @population_submission do |f|
  = render "shared/error_messages", :target => @population_submission
  - f.inputs do
    = f.input :submission_id, :as => :hidden
    = f.input :data_licensing, :as => :radio, :collection => ["CC NC-BY-SA license", "Embargoed until (give date)", "No redistribution"]
    = f.input :embargo_date, :as => :date
    = f.input :site_name
    = f.input :designate
    = f.input :area
    = f.input :completion_year, :as => :select, :collection => ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012"]
    = f.input :completion_month, :as => :select, :collection => ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    = f.input :season, :as => :select, :collection => ["Wet", "Dry", "Both", "Unknown"]
    = f.input :survey_type, :as => :select, :collection => ["Aerial total count (AT)", "Aerial sample count (AS)", "Ground total count (GT)", "Ground sample count (GS)", "Dung count, mark recapture (MR) (GD in previous AEDs)", "Individual registration (IR)", "Other"]
    = f.input :survey_type_other
  = f.buttons
