%h1= t '.title'
= render 'form'

- @f_lat = @population_submission.latitude.blank? ? 0 : @population_submission.latitude
- @f_long = @population_submission.longitude.blank? ? 0 : @population_submission.longitude

:javascript
  jQuery(document).ready(function($){
    window.load_google_maps(function(){
      ft_initialize_below_protarea('map_canvas', 2899026, 'geometry', 'ROWID', '/popup/2007/', 3, new google.maps.LatLng(0,0), function(){
        addExistingZone(#{@population_submission.id},#{@f_lat},#{@f_long});
      });
    });
  });
