%h1= t '.title'
= link_to 'Submission', submissions_path(@population_submission.submission)
&gt;
New Population Estimate

= render "submission_info"

%dl
  %dt= PopulationSubmission.human_attribute_name :submission_id
  %dd= @population_submission.submission_id
  %dt= PopulationSubmission.human_attribute_name :data_licensing
  %dd= @population_submission.data_licensing
  %dt= PopulationSubmission.human_attribute_name :embargo_date
  %dd= @population_submission.embargo_date
  %dt= PopulationSubmission.human_attribute_name :site_name
  %dd= @population_submission.site_name
  %dt= PopulationSubmission.human_attribute_name :designate
  %dd= @population_submission.designate
  %dt= PopulationSubmission.human_attribute_name :area
  %dd= @population_submission.area
  %dt= PopulationSubmission.human_attribute_name :completion_year
  %dd= @population_submission.completion_year
  %dt= PopulationSubmission.human_attribute_name :completion_month
  %dd= @population_submission.completion_month
  %dt= PopulationSubmission.human_attribute_name :season
  %dd= @population_submission.season
  %dt= PopulationSubmission.human_attribute_name :survey_type
  %dd= @population_submission.survey_type
  %dt= PopulationSubmission.human_attribute_name :survey_type_other
  %dd= @population_submission.survey_type_other

=render 'children'
