%h1
  = @user.email
%p
  %b Name:
  = @user.name
%p
  %b Job Title:
  = @user.job_title
%p
  %b Department:
  = @user.department
%p
  %b Organization:
  = @user.organization
%p
  %b Phone:
  = @user.phone
%p
  %b Fax:
  = @user.fax
%p
  %b Address:
  = @user.address_1
  = @user.address_2
  = @user.address_3
%p
  %b City:
  = @user.city
