%h2 Forgot your password?
= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } do |f|
  - ee=devise_error_messages!
  - if !ee.empty?
    .error
      = t('email_not_found')
  = f.inputs do
    = f.input :email
  = f.buttons do
    = f.commit_button :send_me_reset_password_instructions
= render :partial => "devise/shared/links"
