%a{:target => '_top', :href => "/report/#{@species}/#{@year}/#{@continent}/#{@region}/#{@country}/#{@objectid}"}
  If you aren't redirected, click here.

:javascript
  window.parent.location.href = "/report/#{@species}/#{@year}/#{@continent}/#{@region}/#{@country}/#{@objectid}"
