.ticker_bar
  .ticker_item
    .ticker_no
      = contributors
    .ticker_legend
      contributors
  .ticker_item
    .ticker_no
      = link_to new_surveys, population_submissions_path
    .ticker_legend
      new surveys
  .ticker_text
    - last_three_surveys.each do |population_submission|
      - unless population_submission.site_name == ''
        = population_submission.site_name
        = population_submission.designate
        - unless population_submission.completion_year == ''
          ( #{population_submission.completion_year} )
        %span ...

=image_tag 'gallery.png', :class => 'gallery', :alt => 'Gallery'

.feature_legend
  featured map:
.feature_name
  AESR 2007 Input Zones

<iframe width="100%" height="500px" scrolling="no"  src="https://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col59+from+1855116+&h=false&lat=-4.432774755925643&lng=11.540595250000031&z=4&t=1&l=col59"></iframe>

