.ticker_bar
  .ticker_item
    .ticker_no
      = contributors
    .ticker_legend
      contributors
  = link_to population_submissions_path do
    .ticker_item
      .ticker_no
        = new_surveys
      .ticker_legend
        new surveys
  .ticker_text
    - last_three_surveys.each do |population_submission|
      - unless population_submission.site_name == ''
        = link_to url_for(population_submission) do
          = population_submission.site_name
          = population_submission.designate
          - unless population_submission.completion_year == ''
            ( #{population_submission.completion_year} )
        %span ...

=link_to '/gallery' do
  =image_tag 'gallery.png', :class => 'gallery', :alt => 'Gallery'

.feature_legend
  featured map:
.feature_name
  AESR 2007 Input Zones

#ftcanvas

:javascript
  var zoom = 4;
  var center = new google.maps.LatLng(-4.43, 11.54);

  jQuery(document).ready(function($){
      ft_initialize('ftcanvas', 2896260, 'location', 'objectid', '/popup/2007/', zoom, center, function(){});
  });

