%h1= t '.title'
.restated_survey_info
  = render :partial => "submission_info", :locals => { :s => @submission }
%h4
  - if @level.stratum_name == ''
    .count_stratum_name Stratum ##{b.id}
  - else
    .count_stratum_name= @level.stratum_name
.show_stratum
  != best_label_for 'stratum_area'
  = @level.stratum_area
.show_stratum
  != best_label_for 'population_estimate'
  = @level.population_estimate
.show_stratum
  != best_label_for 'population_variance'
  = @level.population_variance
.show_stratum
  != best_label_for 'population_standard_error'
  = @level.population_standard_error
.show_stratum
  != best_label_for 'population_t'
  = @level.population_t
.show_stratum
  != best_label_for 'population_degrees_of_freedom'
  = @level.population_degrees_of_freedom
.show_stratum
  != best_label_for 'population_confidence_limits'
  = @level.population_confidence_limits
.show_stratum
  != best_label_for 'population_no_precision_estimate_available'
  = @level.population_no_precision_estimate_available
.show_stratum
  != best_label_for 'transects_covered'
  = @level.transects_covered
.show_stratum
  != best_label_for 'transects_covered_total_length'
  = @level.transects_covered_total_length
.show_stratum
  != best_label_for 'person_hours'
  = @level.person_hours