= semantic_form_for @submission do |f|
  = render "shared/error_messages", :target => @submission
  - f.inputs do
    = f.input :user_id
    = f.input :species
    = f.input :country
    = f.input :phenotype
    = f.input :phenotype_basis
    = f.input :data_type
    = f.input :right_to_grant_permission
    = f.input :permission_email
    = f.input :mike_site
  = f.buttons
