= semantic_form_for @submission do |f|
  = render "shared/error_messages", :target => @submission
  - f.inputs do
    = f.input :species, :as => :select, :collection => ["African elephants", "Asian elephants"]
    = f.input :country
    = f.input :phenotype, :as => :select, :collection => ["Savanna", "Forest", "Both", "Don't know"]
    = f.input :phenotype_basis, :as => :select, :collection => ["Genetic evidence gathered on-site", "Appearance of elephants", "Geographical location", "Habitat"]
    = f.input :data_type, :as => :radio, :collection => ["Population estimate", "Range polygon", "Point observations"]
    = f.input :right_to_grant_permission, :as => :radio, :collection => ["Yes, I have the right to grant permission to IUCN to use the data as specified", "No, I do not have the right to grant permission, please email the following person:"]
    = f.input :permission_email, :as => :email
    -if current_user.admin?
      = f.input :mike_site, :as => :radio
  = f.buttons
