%h1= t('.title')
%p= link_to t('.new'), new_submission_path

%table
  %thead
    %tr
      %th= Submission.human_attribute_name :user_id
      %th= Submission.human_attribute_name :species
      %th= Submission.human_attribute_name :country
      %th= Submission.human_attribute_name :phenotype
      %th= Submission.human_attribute_name :phenotype_basis
      %th= Submission.human_attribute_name :data_type
      %th= Submission.human_attribute_name :right_to_grant_permission
      %th= Submission.human_attribute_name :permission_email
      %th= Submission.human_attribute_name :mike_site
      %th{:colspan => 3}= t 'actions'

  %tbody
    - for submission in @submissions
      %tr{ :class => cycle(:odd, :even) }
        %td= submission.user_id
        %td= submission.species
        %td= submission.country
        %td= submission.phenotype
        %td= submission.phenotype_basis
        %td= submission.data_type
        %td= submission.right_to_grant_permission
        %td= submission.permission_email
        %td= submission.mike_site
        %td.action= link_to t('show'), submission
        %td.action= link_to t('edit'), edit_submission_path(submission)
        %td.action= link_to t('destroy'), submission, :confirm => t('are_you_sure'), :method => :delete
