%h1 #{@year} Continental Totals for #{@continent}
%a{:href=>'/report'}Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}"} #{@year}

&gt;

#{@continent}

%div{:style => 'margin-top:20px'}

-unless @regions.nil?
  -@regions.each do |row|
    %div
      %a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}/#{@continent}/#{row['REGION'].gsub(' ','_')}"} #{row['REGION']}

