%h1 #{@year} Continental Totals for #{@continent}
%a{:href=>'/report'}Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}"} #{@year}

&gt;

#{@continent}

%div{:style => 'margin-top:20px'}

- if @summary_totals_by_continent.num_tuples > 0
  %h2{:style => 'margin-top:20px'} #{@year} Summary Totals for #{@continent}

  %table{:style => 'font-size:16px'}
    %tr
      %th{:width => '40%'} Data Category
      %th.numeric{:width => '15%'} Definite
      %th.numeric{:width => '15%'} Probable
      %th.numeric{:width => '15%'} Possible
      %th.numeric{:width => '15%'} Speculative
    -@summary_totals_by_continent.each do |row|
      %tr{:style => 'height: 24px'}
        %td= row['SURVEYTYPE']
        %td.numeric= number_with_delimiter row['DEFINITE']
        %td.numeric= number_with_delimiter row['PROBABLE']
        %td.numeric= number_with_delimiter row['POSSIBLE']
        %td.numeric= number_with_delimiter row['SPECUL']
    -@summary_sums_by_continent.each do |row|
      %tr.totals{:style => 'height: 24px; font-weight: bold'}
        %td Totals #{@year}
        %td.numeric= number_with_delimiter row['DEFINITE']
        %td.numeric= number_with_delimiter row['PROBABLE']
        %td.numeric= number_with_delimiter row['POSSIBLE']
        %td.numeric= number_with_delimiter row['SPECUL']

- if !@causes_of_change_by_continent.nil? && @causes_of_change_by_continent.num_tuples > 0
  %h2 Interpretation of Changes in Estimates from Previous Report

  %table{:style => 'font-size:16px'}
    %tr
      %th{:width => '40%'} Cause of Change
      %th.numeric{:width => '15%'} Definite
      %th.numeric{:width => '15%'} Possible
      %th.numeric{:width => '15%'} Probable
      %th.numeric{:width => '15%'} Speculative
    - @causes_of_change_by_continent.each do |row|
      %tr{:style => 'height: 24px;'}
        %td= row['CauseofChange']
        - ['definite','probable','possible','specul'].each do |key|
          %td.numeric= signed_number row[key]
    - unless @causes_of_change_sums_by_continent.nil?
      - @causes_of_change_sums_by_continent.each do |row|
        %tr.totals{:style => 'height: 24px; font-weight: bold'}
          %td Totals
          - ['definite','probable','possible','specul'].each do |key|
            %td.numeric= signed_number row[key]

- if !@area_of_range_covered_by_continent.nil? && @area_of_range_covered_by_continent.num_tuples > 0
  %h2 Area of Range Covered by Each Data Category (km²)
  %table{:style => 'font-size:16px'}
    %tr
      %th Data Category
      %th.numeric Known Range
      %th.numeric Possible Range
      %th.numeric Total Range
    - @area_of_range_covered_by_continent.each do |row|
      %tr{:style => 'height: 24px;'}
        %td= number_with_delimiter row['surveytype']
        - ['known','possible','total'].each do |key|
          %td.numeric= number_with_delimiter row[key]
    - @area_of_range_covered_sum_by_continent.each do |row|
      %tr.totals{:style => 'height: 24px; font-weight: bold'}
        %td Totals
        - ['known','possible','total'].each do |key|
          %td.numeric= number_with_delimiter row[key]

-unless @regions.nil?
  -@regions.each do |row|
    %div
      %a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}/#{@continent}/#{row['REGION'].gsub(' ','_')}"} #{row['REGION']}

