%h1 #{@preview_title}: #{@country}, #{@year}

Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

= @preview_nav

&gt;

%a{:href=>"/preview_report/#{@filter}/#{@species}/#{@year}/#{@continent}"} #{@continent}

&gt;

%a{:href=>"/preview_report/#{@filter}/#{@species}/#{@year}/#{@continent}/#{@region.gsub(' ','_')}"} #{@region}

&gt;

#{@country}

%p

/
  All Years for #{@country}:

  %a{:href=>"/preview_report/#{@filter}/#{@species.gsub(' ','_')}/2007/#{@continent}/#{@region}/#{@country}"} 2007

  &mdash;

  %a{:href=>"/preview_report/#{@filter}/#{@species.gsub(' ','_')}/2011/#{@continent}/#{@region}/#{@country}"} 2011

!= narrative

- if @summary_totals_by_country.num_tuples > 0
  %h2{:style => 'margin-top:20px'} #{@year} Summary Totals for #{@country}

  %table{:style => 'font-size:16px'}
    %tr
      %th{:width => '40%'} Data Category
      %th.numeric{:width => '15%'} Definite
      %th.numeric{:width => '15%'} Probable
      %th.numeric{:width => '15%'} Possible
      %th.numeric{:width => '15%'} Speculative
    -@sdef = @sprob = @sposs = @sspec = 0
    -@summary_totals_by_country.each do |row|
      %tr{:style => 'height: 24px'}
        %td= row['SURVEYTYPE']
        %td.numeric= number_with_delimiter row['DEFINITE']
        - @sdef = @sdef + row['DEFINITE'].to_i
        %td.numeric= number_with_delimiter row['PROBABLE']
        - @sprob = @sprob + row['PROBABLE'].to_i
        %td.numeric= number_with_delimiter row['POSSIBLE']
        - @sposs = @sposs + row['POSSIBLE'].to_i
        %td.numeric= number_with_delimiter row['SPECUL']
        - @sspec = @sspec + row['SPECUL'].to_i
    - if @year==2011
      -@baseline_total.each do |base|
        %tr.totals{:style => 'height: 24px; font-weight: bold'}
          %td Totals 2007
          %td.numeric= number_with_delimiter base['definite']
          %td.numeric= number_with_delimiter base['probable']
          %td.numeric= number_with_delimiter base['possible']
          %td.numeric= number_with_delimiter base['speculative']
    %tr.totals{:style => 'height: 24px; font-weight: bold'}
      %td Totals #{@year}
      %td.numeric= number_with_delimiter @sdef
      %td.numeric= number_with_delimiter @sprob
      %td.numeric= number_with_delimiter @sposs
      %td.numeric= number_with_delimiter @sspec


- else
  %h2 No estimates were available for #{@country} in #{@year}
- if !@causes_of_change_by_country.nil? && @causes_of_change_by_country.num_tuples > 0
  %h2 Interpretation of Changes in Estimates from Previous Report

  %table{:style => 'font-size:16px'}
    %tr
      %th{:width => '40%'} Cause of Change
      %th.numeric{:width => '15%'} Definite
      %th.numeric{:width => '15%'} Probable
      %th.numeric{:width => '15%'} Possible
      %th.numeric{:width => '15%'} Speculative
    - @causes_of_change_by_country.each do |row|
      %tr{:style => 'height: 24px;'}
        %td= row['CauseofChange']
        - ['definite','probable','possible','specul'].each do |key|
          %td.numeric= signed_number row[key]
    - unless @causes_of_change_sums_by_country.nil?
      - @causes_of_change_sums_by_country.each do |row|
        %tr.totals{:style => 'height: 24px; font-weight: bold'}
          %td Totals
          - ['definite','probable','possible','specul'].each do |key|
            %td.numeric= signed_number row[key]

- if !@area_of_range_covered_by_country.nil? && @area_of_range_covered_by_country.num_tuples > 0
  %h2 Area of Range Covered by Each Data Category (km²)
  %table{:style => 'font-size:16px'}
    %tr
      %th Data Category
      %th.numeric Known Range
      %th.numeric Possible Range
      %th.numeric Total Range
    - @area_of_range_covered_by_country.each do |row|
      %tr{:style => 'height: 24px;'}
        %td= number_with_delimiter row['surveytype']
        - ['known','possible','total'].each do |key|
          %td.numeric= number_or_zero row[key]
    - @area_of_range_covered_sum_by_country.each do |row|
      %tr.totals{:style => 'height: 24px; font-weight: bold'}
        %td Totals
        - ['known','possible','total'].each do |key|
          %td.numeric= number_or_zero row[key]

- if @elephant_estimates_by_country.num_tuples > 0
  %h2 #{@country}: Elephant Estimates
  %table
    %tr
      %th{:style=>"border:none"}
        %th{:style=>"border:none"} Cause of
      %th{:colspan => 3, :style=>"text-align:center"}
        Survey Details
        %sup 2
      %th{:colspan => 2, :style=>"text-align:center"} Number of Elephants
      %th{:style=>"border:none"}
      %th{:style=>"border:none"}
      %th.numeric{:style=>"border:none; padding-right:10px"} Area
      %th{:colspan => 2, :style=>"text-align:center"} Map Location
    %tr
      %th Input Zone
      %th
        Change
        %sup 1
      %th Type
      %th Reliab.
      %th Year
      %th.numeric Estimate
      %th.numeric 95% C.L.
      %th{:style=>"padding-left:10px"} Source
      %th
        PFS
        %sup 3
      %th.numeric{:style=>"padding-right:10px"} (km²)
      %th{:style=>'text-align:center'} Lon.
      %th{:style=>'text-align:center'} Lat.
    - @elephant_estimate_groups.each do |group|
      - @rn = @cc = @ty = @yr = @re = ''
      - @ar = @n = @pv = @es = @cl = 0
      - if group.size > 1
        - group.each do |row|
          - @rn = row['replacement_name']
          - @cc = row['ReasonForChange']
          - @ca = row['CATEGORY']
          - @ty = row['method_and_quality'].gsub(/[\d]/,'')
          - @yr = row['CYEAR']
          - @re = row['REFERENCE']
          - @ar = @ar + row['AREA_SQKM'].to_i
          - @pv = @pv + row['population_variance'].to_f
          - @es = @es + row['ESTIMATE'].to_i
          - @lo = row['LON']
          - @la = row['LAT']
          - @n = @n + 1
      - else
        - group.each do |row|
          - @rn = row['replacement_name']
          - @cc = row['ReasonForChange']
          - @ca = row['CATEGORY']
          - @ty = row['method_and_quality'].gsub(/[\d]/,'')
          - @yr = row['CYEAR']
          - @re = row['REFERENCE']
          - @ar = row['AREA_SQKM']
          - @pv = 0
          - @cl = row['CL95']
          - @es = row['ESTIMATE']
          - @lo = row['LON']
          - @la = row['LAT']
          - @n = @n + 1
      %tr
        %td
          %a{:href=>"javascript:toggle_section('#{@rn}')", :style=>'text-decoration:none'} +
          = @rn
        %td= @cc
        %td= @ty
        %td{:style=>"text-align:center"}= @ca
        %td= @yr
        %td{:style=>"text-align:right"}= number_with_delimiter @es
        -if @pv>0
          %td{:style=>"text-align:right"}= number_with_delimiter ((Math.sqrt(@pv))*1.96).round
        - else
          %td{:style=>"text-align:right"}= @cl.to_s!="0" ? number_with_delimiter(@cl) : ""
        %td{:style=>"padding-left:10px"}= @re
        %td{:style=>"text-align:center"} -
        %td{:style=>"text-align:right"}= @ar.to_s!="0" ? number_with_delimiter(@ar) : ""
        %td{:style=>"text-align:center"}= @lo
        %td{:style=>"text-align:center"}= @la
      - group.each do |row|
        %tr{:style=>'height:18px; display:none', :data => {:section=>"#{@rn}"} }
          %td
            &#160;
            &#160;
            %a{:href=>"/population_submissions/#{row['population_submission_id']}"}!= row['stratum_name']
          %td= row['ReasonForChange']
          %td= row['method_and_quality'].gsub(/[\d]/,'')
          %td{:style=>"text-align:center"}= row['CATEGORY']
          %td= row['CYEAR']
          %td.numeric= number_with_delimiter row['ESTIMATE']
          %td.numeric= number_with_delimiter row['CL95']
          %td{:style=>"padding-left:10px"}= row['REFERENCE']
          %td{:style=>'text-align:center'}= row['PFS']
          %td.numeric{:style=>"padding-right:10px"}= number_with_delimiter row['AREA_SQKM']
          %td{:style=>'text-align:center'}= row['LON']
          %td{:style=>'text-align:center'}= row['LAT']

%p
  * Range of informed guess
%p
  %sup 1
  Key to Causes of Change (only tracked since 2007): DA: Different Area; DD: Data Degraded; DT: Different Technique; NA: New Analysis; NG: New Guess; NP: New population; PL: Population Lost; RS: Repeat Survey (RS ́ denotes a repeat survey that is not statistically comparable for reasons such as different season); –––: No Change
%p
  %sup 2
  Key to Survey Types: AC: Aerial Count, not specified; AS: Aerial Sample Count; AT: Aerial Total Count; DC: Dung Count; EX: Extrapolation from GIS; GD: Genetic Dung Count; GS: Ground Sample Count; GT: Ground Total Count; IG: Informed Guess; IR: Individual Registration; OG: Other Guess. Survey Type is followed by an indicator of survey quality, ranked from 1 to 3 (best to worst). Survey Reliability is keyed A-E (best to worst) as <a href='/reliability'>outlined in this table</a>
%p
  %sup 3
  PFS: Priority for Future Surveys, ranked from 1 to 5 (highest to lowest). Based on the precision of estimates and the proportion of national range accounted for by the site in question, PFS is a measure of the importance and urgency for future population surveys. All areas of unassessed range have a priority of 1. See Introduction for details on how the PFS is derived.
!= footnote

:javascript
  function toggle_section(key){
    jQuery('*[data-section="'+key+'"]').toggle(300)
  }
