%h1 2012 Continental Totals for #{@preview_title}
%a{:href=>'/report'}Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

= @preview_nav

&gt;

#{@continent}

%p
All Years for #{@continent}:

%a{:href=>"/preview_report/#{@filter}/#{@species.gsub(' ','_')}/2007/#{@continent}"} 2007

&mdash;

%a{:href=>"/preview_report/#{@filter}/#{@species.gsub(' ','_')}/2012/#{@continent}"} 2012

!= narrative

- if @summary_totals_by_continent.num_tuples > 0
  %h2{:style => 'margin-top:20px'} #{@year} Summary Totals for #{@continent}

  %table{:style => 'font-size:16px'}
    %tr
      %th{:width => '40%'} Data Category
      %th.numeric{:width => '15%'} Definite
      %th.numeric{:width => '15%'} Probable
      %th.numeric{:width => '15%'} Possible
      %th.numeric{:width => '15%'} Speculative
    -@summary_totals_by_continent.each do |row|
      %tr{:style => 'height: 24px'}
        %td= row['SURVEYTYPE']
        %td.numeric= number_with_delimiter row['DEFINITE']
        %td.numeric= number_with_delimiter row['PROBABLE']
        %td.numeric= number_with_delimiter row['POSSIBLE']
        %td.numeric= number_with_delimiter row['SPECUL']
    -@summary_sums_by_continent.each do |row|
      %tr.totals{:style => 'height: 24px; font-weight: bold'}
        %td Totals #{@year}
        %td.numeric= number_with_delimiter row['DEFINITE']
        %td.numeric= number_with_delimiter row['PROBABLE']
        %td.numeric= number_with_delimiter row['POSSIBLE']
        %td.numeric= number_with_delimiter row['SPECUL']

- if !@regions.nil? && @regions.num_tuples > 0
  %h2 Continental and Regional Totals and Data Quality
  %table{:style => 'font-size:16px'}
    %tr
      %th Region
      %th.numeric Definite
      %th.numeric Probable
      %th.numeric Possible
      %th.numeric Speculative
      %th.numeric Range Area (km²)
      %th.numeric % of Continental Range
      %th.numeric % of Range Assessed
      %th.numeric
        IQI<sup>1</sup>
      %th.numeric
        PFS<sup>2</sup>
    - @regions.each do |row|
      - unless row['RANGEAREA'].nil?
        %tr{:style => 'height: 24px;'}
          %td
            %a{:href=>"/preview_report/#{@filter}/#{@species.gsub(' ','_')}/#{@year}/#{@continent}/#{row['REGION'].gsub(' ','_')}"} #{row['REGION']}
          - ['DEFINITE','PROBABLE','POSSIBLE','SPECUL','RANGEAREA','RANGEPERC','SURVRANGPERC','INFQLTYIDX','PFS'].each do |key|
            %td.numeric= number_with_delimiter row[key]
    - @regions_sum.each do |row|
      %tr.totals{:style => 'height: 24px; font-weight: bold'}
        %td Totals
        - ['DEFINITE','PROBABLE','POSSIBLE','SPECUL','RANGEAREA','RANGEPERC','SURVRANGPERC','INFQLTYIDX'].each do |key|
          %td.numeric= number_with_delimiter row[key]
        %td

%p
  %sup 1
  IQI: Information Quality Index: This index quantifies overall data quality at the regional level based on the precision of estimates and the proportion of assessed elephant range (i.e. range for which estimates are available). The IQI ranges from zero (no reliable information) to one (perfect information).
%p
  %sup 2
  PFS: Priority for Future Surveys, ranked from 1 to 5 (highest to lowest). Based on the precision of estimates and the proportion of national range accounted for by the site in question, PFS is a measure of the importance and urgency for future population surveys. All areas of unassessed range have a priority of 1. See Introduction for details on how the PFS is derived.
!= footnote

