%h1 #{@year} Regional Totals for #{@region}
%a{:href=>'/report'}Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}"} #{@year}

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}/#{@year}/#{@continent}"} #{@continent}

&gt;

#{@region}

%div{:style=>'margin-top: 20px'}

-unless @countries.nil?
  -@countries.each do |row|
    %div
      %a{:href=>"#{@region.gsub(' ','_')}/#{row['CNTRYNAME'].gsub(' ','_')}"} #{row['CNTRYNAME']}


