%h1 #{@survey_zone['survey_zone']} #{@survey_zone['designate']}

Reports

&gt;

%a{:href=>"/report/#{@species.gsub(' ','_')}"} #{@species}

&gt;

%a{:href=>"/report/#{@species}/#{@year}"} #{@year}

&gt;

%a{:href=>"/report/#{@species}/#{@year}/#{@continent}"} #{@continent}

&gt;

%a{:href=>"/report/#{@species}/#{@year}/#{@continent}/#{@region.gsub(' ','_')}"} #{@region}

&gt;

%a{:href=>"/report/#{@species}/#{@year}/#{@continent}/#{@region.gsub(' ','_')}/#{@country.gsub(' ','_')}"} #{@country}

&gt;

#{@survey_zone['survey_zone']} #{@survey_zone['designate']}

%div{:style=>'margin-top: 20px'}

%iframe{:style=>'float:right', :width=>'400px', :height=>'400px', :src=>"https://www.google.com/fusiontables/embedviz?viz=MAP&q=select+col59+from+1855116+where+col2+%3D+'#{@survey_zone['INPCODE']}'&h=false&lat=#{@survey_zone['numeric_lat']}&lng=#{@survey_zone['numeric_lon']}&z=8&t=1&l=col59"}
%div{:style=>'font-size: 40px; font-weight: bold'}
  =number_with_delimiter @survey_zone['ESTIMATE']
%div{:style=>'font-size: 20px;'}
  elephants in #{@survey_zone['CYEAR']}
%div{:style=>'margin-top: 20px;'}
  Source:
  =@survey_zone['REFERENCE']
%div
  Area surveyed:
  =number_with_delimiter @survey_zone['AREA_SQKM']
  km²
%div
  Location:
  = @survey_zone['LON']
  ,
  = @survey_zone['LAT']

%div{:style=>'margin-top: 40px; width: 300px; padding: 20px; background: #ccc'}
  %div{:style=>'margin-bottom: 10px'}
    %strong
      Analysis by AfESG
  %div
    Cause of change:
    =@survey_zone['ReasonForChange']
  %div
    Type and Quality:
    =@survey_zone['method_and_quality']
  %div
    Reliability:
    =@survey_zone['CATEGORY']
  %div
    Priority for Future Surveys:
    =@survey_zone['PFS']

%div{:style=>'clear:both'}
