%h1= t('.title')
%p= link_to t('.new'), new_report_narrative_path

%table
  %thead
    %tr
      %th= ReportNarrative.human_attribute_name :uri
      %th= ReportNarrative.human_attribute_name :narrative
      %th= ReportNarrative.human_attribute_name :footnote
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for report_narrative in @report_narratives
      %tr{ :class => cycle(:odd, :even) }
        %td= report_narrative.uri
        %td= report_narrative.narrative
        %td= report_narrative.footnote
        %td.action= link_to t('show'), report_narrative
        %td.action= link_to t('edit'), edit_report_narrative_path(report_narrative)
        %td.action= link_to t('destroy'), report_narrative, :confirm => t('are_you_sure'), :method => :delete
