%h1 About Elephant Database

.wiki

  :maruku

    ElephantDatabase.org is the online home of the African and Asian Elephant Database, a joint project of the
    IUCN African Elephant Specialist Group (AfESG) and Asian Elephant Specialist Group (AsESG).

    ElephantDatabase.org presents data from past African Elephant Status Reports, as well as the latest
    survey data reported to either specialist group.  Data on this web site is made available under a
    [Creative Commons Attribution-NonCommercial-ShareAlike](http://creativecommons.org/licenses/by-nc-sa/3.0/)
    license.

    Past African Elephant Status Reports, including a large amount of narrative information, are available
    in PDF format from [the AfESG web site](http://african-elephant.org)

    Getting Involved
    ----------------

    ElephantDatabase.org is an Open Source software project.  Every aspect of the database is powered by
    free and open source software.  We are especially thankful for
    [PostgreSQL](http://www.postgresql.org"),
    [PostGIS](http://postgis.refractions.net),
    [GeoServer](http://geoserver.org),
    [OpenLayers](http://openlayers.org),
    and all the open source tools that make them possible.

    The African and Asian Elephant Specialist Groups are volunteer organizations, and this site and its
    software systems are maintained principally by volunteers.  We have an ambitious roadmap, and need
    your help to continue to grow.  Join us on
    [PGFoundry](http://pgfoundry.org/projects/wilddb"),
    [GitHub](http://github.com/rfc2616/AAED),
    or
    [Assembla](http://www.assembla.com/spaces/aaed").
    
    Request Data
    ----------------

    To obtain direct data access to African Elephant data only, please review our
      [data access and release policy](/about/darp) and
      complete the [data request form](/data_request_forms/new) online.
    
    Thank You
    ----------------
    
    ElephantDatabase.org would not have been possible without our great donors and partners:
    
  .partners    
    = link_to "http://www.fws.gov/" do
      = image_tag "usfws_logo.png"
    = link_to "http://www.cites.org/eng/prog/MIKE/index.shtml" do
      = image_tag "cites-logo.jpg"
    = link_to "http://www.solertium.com" do
      = image_tag "solertium-logo.png"
