= semantic_form_for @survey_individual_registration do |f|
  = render "shared/error_messages", :target => @survey_individual_registration
  - f.inputs do
    = f.input :population_submission_id, :as => :hidden, :value => params[:population_submission_id]
    = f.input :population_estimate
    = f.input :population_upper_range
    = f.input :monitoring_years
    = f.input :monitoring_frequency, :as => :select, :collection => ["Weekly", "Monthly", "Quarterly", "Annually", "Every several years"]
    = f.input :fenced_site, :as => :select, :collection => ["Yes", "No", "Partly", "Unknown"]
  = f.buttons
