- if p.nil?
  .population_submission_info
    Population submission is nil when it shouldn't be. Report this message
    as a bug, please.
- else
  .population_submission_info
    .edit_link
      = link_to image_tag("editable.png"), edit_population_submission_path(p)
      = link_to image_tag("delete.png"), p, :confirm => t('are_you_sure'), :method => :delete
    .population_submission_header
      .population_submission_site_name
        #{p.site_name}
        #{p.designate}
      .population_submission_survey_completed
        #{p.completion_year}
    .population_submission_parameters
      .population_submission_licensing
        !=p.data_licensing_link
        -unless p.embargo_date.nil?
          Embargoed until #{p.embargo_date}
      .population_submission_area
        #{p.area} km²
      .population_submission_season
        -if p.season == "Wet" or p.season == "Dry"
          #{p.season} season
        -if p.season == "Both"
          Both wet and dry seasons
  - if p.survey_type!=''
    - for c in p.counts do
      =render :partial => 'count_info', :locals => {:c => c}
    - if p.counts.size < 1
      .add_actions
        = link_to guess_new_count_path(p) do
          = image_tag('plus.png')
          Add #{p.count_friendly_name}

