.population_submission_info
  .population_submission_site_name
    #{@population_submission.site_name}
    #{@population_submission.designate}
  .population_submission_licensing
    -if @population_submission.data_licensing == "CC"
      (CC image)
    -unless @population_submission.embargo_date.nil? 
      Embargoed until #{@population_submission.embargo_date}
  .population_submission_area
    Area surveyed: #{@population_submission.area} km²
  .population_submission_survey_completed
    Suvey completed:
    -unless @population_submission.completion_month.nil?
      #{@population_submission.completion_month}
    #{@population_submission.completion_year}
    -if @population_submission.season == "Wet" or @population_submission.season == "Dry"
      in the #{@population_submission.season} season
    -if @population_submission.season == "Both"
      in both wet and dry seasons
