%h1= "Aerial Sample Count"
%p= link_to t('.new'), new_survey_aerial_sample_count_path

%table
  %thead
    %tr
      %th= SurveyAerialSampleCount.human_attribute_name :population_submission_id
      %th= SurveyAerialSampleCount.human_attribute_name :total_possible_transects
      %th= SurveyAerialSampleCount.human_attribute_name :surveyed_at_stratum_level
      %th= SurveyAerialSampleCount.human_attribute_name :stratum_level_data_submitted
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for survey_aerial_sample_count in @survey_aerial_sample_counts
      %tr{ :class => cycle(:odd, :even) }
        %td= survey_aerial_sample_count.population_submission_id
        %td= survey_aerial_sample_count.total_possible_transects
        %td= survey_aerial_sample_count.surveyed_at_stratum_level
        %td= survey_aerial_sample_count.stratum_level_data_submitted
        %td.action= link_to t('show'), survey_aerial_sample_count
        %td.action= link_to t('edit'), edit_survey_aerial_sample_count_path(survey_aerial_sample_count)
        %td.action= link_to t('destroy'), survey_aerial_sample_count, :confirm => t('are_you_sure'), :method => :delete
