= semantic_form_for @survey_ground_total_count do |f|
  = render "shared/error_messages", :target => @survey_ground_total_count
  - f.inputs do
    = f.input :population_submission_id, :as => :hidden, :value => params[:population_submission_id]
    = f.input :surveyed_at_stratum_level, :as => :radio
    = f.input :stratum_level_data_submitted, :as => :radio
  = f.buttons
