!!!
%html
  %head
    %title Elephant Database
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    %link{:href=>'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel=>'stylesheet', :type=>'text/css'}
    = javascript_include_tag 'application'
  %body
    #page
      %a{:href=>'/'}
        = image_tag 'elephant-database-logo.png', :alt=>'Elephant Database'
      .strapline
        The most comprehensive data on elephant population and range worldwide.
      - if user_signed_in?
        #myaccount= link_to t('my_account'), edit_user_registration_path
        #logout= link_to t('log_out'), destroy_user_session_path
      - else
        #register= link_to t('register'), new_user_registration_path
        #login= link_to t('log_in'), new_user_session_path
      .nav
        .navItem= raw(get_nav_item('Explore', '/report'))
        .navItem= raw(get_nav_item('Add Data', '/submissions/new'))
        .navItem= raw(get_nav_item('About', '/about'))
      %div
        - if(!flash[:notice].nil?)
          .notice= flash[:notice]
        - if(!flash[:alert].nil?)
          .error= flash[:alert]
        - if(!flash[:error].nil?)
          .error= flash[:error]
        - if(!flash[:success].nil?)
          .success= flash[:success]
      = yield
      #legal= t('legal').gsub('$today$',"#{Date.today.year}")
