!!!
%html
  %head
    %title= t('banner')
    = csrf_meta_tag
    = stylesheet_link_tag 'flutie', 'aaed'
    %link{:href=>'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel=>'stylesheet', :type=>'text/css'}
    = javascript_include_tag :defaults
    = yield(:javascript_includes)
  %body
    #page
      %a{:href=>'/'}
        %img{:src=>'/images/elephant-database-logo.png',:alt=>'Elephant Database'}
      .strapline
        The most comprehensive data on elephant population and range worldwide.
      - if user_signed_in?
        #myaccount= link_to t('my_account'), edit_user_registration_path
        #logout= link_to t('log_out'), destroy_user_session_path
      - else
        #register= link_to t('register'), new_user_registration_path
        #login= link_to t('log_in'), new_user_session_path
      .nav
        .navItem= raw(get_nav_item('Explore', '/report'))
        .navItem= raw(get_nav_item('Add Data', '/submissions/new'))
        .navItem= raw(get_nav_item('About', '/about'))
      %p
        - if(!flash[:notice].nil?)
          .notice= flash[:notice]
        - if(!flash[:alert].nil?)
          .error= flash[:alert]
        - if(!flash[:error].nil?)
          .error= flash[:error]
        - if(!flash[:success].nil?)
          .success= flash[:success]
      = yield
      #legal= t('legal').gsub('$today$',"#{Date.today.year}")
      :javascript
        var is_ssl = ("https:" == document.location.protocol);
        var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
        document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

        var feedback_widget_options = {};
        feedback_widget_options.display = "overlay";  
        feedback_widget_options.company = "elephant_database";
        feedback_widget_options.placement = "right";
        feedback_widget_options.color = "#222";
        feedback_widget_options.style = "question";
        var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
