!!!
%html
  %head
    %title Elephant Database
    = csrf_meta_tag
    = stylesheet_link_tag 'application', :media => "all"
    = favicon_link_tag 'favicon.png', :type => 'image/png'
    %link{:href=>'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', :rel=>'stylesheet', :type=>'text/css'}
    = javascript_include_tag 'application'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29314411-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #page
      %a#logo-aed{:href=>'/'}
        = image_tag 'elephant-database-logo.png', :alt=>'Elephant Database'
      .strapline
        The most comprehensive data on elephant population and range worldwide.
      %a#logo-afesg{:href=>'/'}
        = image_tag 'logo-AfESGcolour.gif', :alt=>'African Elephant Specialist Group'
      - if user_signed_in?
        - if current_user.admin?
          #superuser= link_to 'Superuser', '/superuser'
        #support= link_to t('support'), 'http://www.assembla.com/spaces/aaed/support/tickets', :target => '_blank'
        #mysub= link_to t('my_submissions'), '/my_population_submissions'
        #myaccount= link_to t('my_account'), edit_user_registration_path
        #logout= link_to t('log_out'), destroy_user_session_path, :method => :delete
      - else
        #support= link_to t('support'), 'http://www.assembla.com/spaces/aaed/support/tickets', :target => '_blank'
        #register= link_to t('register'), new_user_registration_path
        #login= link_to t('log_in'), new_user_session_path
      .nav-old
        .navItem= raw(get_nav_item('Tables', '/preview_report/2013_africa_final/Loxodonta_africana/2013/Africa'))
        .navItem= raw(get_nav_item('Maps', '/maps'))
        .navItem= raw(get_nav_item('Add Data', '/submissions/new'))
        .navItem= raw(get_nav_item('About', '/about'))

        - if(!flash[:notice].nil?)
          .notice= flash[:notice]
        - if(!flash[:alert].nil?)
          .error= flash[:alert]
        - if(!flash[:error].nil?)
          .error= flash[:error]
        - if(!flash[:success].nil?)
          .success= flash[:success]
      = yield
      #footer
        %span#iucn-logos
          %a#logo-iucn{:href=>'http://www.iucn.org/'}
            = image_tag 'iucn_logo.jpg', :alt=>'IUCN'
          %a#logo-ssc{:href=>'http://www.iucn.org/about/work/programmes/species/about_ssc/'}
            = image_tag 'ssc2005web_res.gif', :alt=>'Species Survival Commission'
        %span#legal
          %p
            = t('legal').gsub('$today$',"#{Date.today.year}")
