!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %title= t(:banner)
    = stylesheet_link_tag 'aaed'
    = javascript_include_tag :defaults
    = yield(:javascript_includes)
    :css
      div,td,th {
        font-size: small;
      }
      th {
        padding-left: 5px;
        padding-right: 5px;
      }
  %body{:style => "background: #ffffff"}
    = yield(:content)
