= form_for(@survey_ground_total_count_stratum) do |f|
  = render "shared/error_messages", :target => @survey_ground_total_count_stratum
  
  .field
    = f.label :survey_ground_total_count_id
    %br
    = f.text_field :survey_ground_total_count_id
  .field
    = f.label :stratum_name
    %br
    = f.text_field :stratum_name
  .field
    = f.label :stratum_area
    %br
    = f.text_field :stratum_area
  .field
    = f.label :population_estimate
    %br
    = f.text_field :population_estimate
  .field
    = f.label :population_variance
    %br
    = f.text_field :population_variance
  .field
    = f.label :population_standard_error
    %br
    = f.text_field :population_standard_error
  .field
    = f.label :population_t
    %br
    = f.text_field :population_t
  .field
    = f.label :population_degrees_of_freedom
    %br
    = f.text_field :population_degrees_of_freedom
  .field
    = f.label :population_confidence_limits
    %br
    = f.text_field :population_confidence_limits
  .field
    = f.label :population_no_precision_estimate_available
    %br
    = f.check_box :population_no_precision_estimate_available
  .field
    = f.label :transects_covered
    %br
    = f.text_field :transects_covered
  .field
    = f.label :transects_covered_total_length
    %br
    = f.text_field :transects_covered_total_length
  .field
    = f.label :person_hours
    %br
    = f.text_field :person_hours
  .field
    = f.label :strip_width
    %br
    = f.text_field :strip_width
  .field
    = f.label :observations
    %br
    = f.text_field :observations
  .field
    = f.label :actually_seen
    %br
    = f.text_field :actually_seen

  .actions
    = f.submit
