%h1= t '.title'
.restated_survey_info
  = render :partial => "submission_info", :locals => { :s => @submission }
%h4
  - if @level.stratum_name == ''
    .count_stratum_name Stratum ##{b.id}
  - else
    .count_stratum_name= @level.stratum_name
.show_stratum
  = t 'label.stratum_area'":"
  = @level.stratum_area
.show_stratum
  = t 'label.population_estimate'":"
  = @level.population_estimate
.show_stratum
  = t 'label.transects_covered'":"
  = @level.transects_covered
.show_stratum
  = t 'label.transects_covered_total_length'":"
  = @level.transects_covered_total_length
.show_stratum
  = t 'label.person_hours'":"
  = @level.person_hours
.show_stratum
  = t 'label.strip_width'":"
  = @level.strip_width
.show_stratum
  = t 'label.observations'":"
  = @level.observations
.show_stratum
  = t 'label.actually_seen'":"
  = @level.actually_seen
